/*
   HEADER SECTION
   ========================================================================== */
.header-section {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;
  min-width: 100%; }

.contain-to-grid {
  background-color: rgba(0, 217, 255, 0.9); }

.header-fill {
  background: #000;
  height: 135px; }
  .header-fill .tablet-mobile-logo img {
    padding-top: 30px; }

.full-width {
  min-width: 100%; }

p {
  line-height: 3rem;
  padding-bottom: 30px; }

/*
   TOPBAR NAVGATION
   ========================================================================== */
.top-bar {
  background: none;
  padding: 45px 0.9375rem 90px 0.9375rem;
  transition: all 0.5s ease 0.1s; }
  .top-bar ul.title-area img {
    margin: -10px 0 0 0; }
  .top-bar .top-bar-section ul {
    background: none; }
    .top-bar .top-bar-section ul li a:not(.button), .top-bar .top-bar-section ul li.active a:not(.button) {
      background: none;
      line-height: 30px;
      font-size: 12px;
      padding: 0;
      margin: 5px 0 0 0;
      text-transform: uppercase; }
    .top-bar .top-bar-section ul li a:not(.button):hover {
      background: none;
      border-bottom: 2px solid #ef4523;
      color: #222; }
    .top-bar .top-bar-section ul li.active a:not(.button) {
      border-bottom: 2px solid #ef4523;
      color: #222; }
      .top-bar .top-bar-section ul li.active a:not(.button):hover {
        background: none; }
    .top-bar .top-bar-section ul li {
      margin-left: 30px; }
      .top-bar .top-bar-section ul li a {
        color: #888; }
  .top-bar .top-bar-section ul li:hover:not(.has-form) > a {
    color: #333; }
  .top-bar .top-bar-section li ul.dropdown {
    background: #fff;
    border: 1px solid #ddd;
    color: #888; }
    .top-bar .top-bar-section li ul.dropdown li {
      border-bottom: 1px solid #ddd;
      margin: 0;
      padding: 5px 15px 5px 15px; }
  .top-bar .top-bar-section li ul.dropdown li a:not(.button):hover, .top-bar .top-bar-section li ul.dropdown li a:not(.button) {
    background: none;
    color: #222;
    border-bottom: none;
    padding: 20px -4px 40px 45px; }
  .top-bar .top-bar-section ul.dropdown li:hover:not(.has-form) > a:not(.button) {
    background: none;
    color: #222; }
  .top-bar .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
    margin-top: -5px; }

/*
   CONTENT SECTION
   ========================================================================== */
.content-section .main-content {
  margin-top: 35px; }

body {
  background-color: #000;
  color: #fff; }

h1 {
  color: #fff; }

/*
   FOOTER SECTION
   ========================================================================== */
.footer-section {
  background: #333;
  min-height: 100px; }
  .footer-section p {
    color: #fff;
    margin-top: 50px; }

.padding-on-my-header {
  padding: 17px 0.9375rem 62px 0.9375rem; }
  .padding-on-my-header ul.title-area img {
    margin: -5px 0 0 0; }

/*
	 CONTENT SECTION
	 ========================================================================== */
.content-section .main-content {
  margin-top: 35px; }

/*
	 FOOTER SECTION
	 ========================================================================== */
.footer-section {
  background: #333;
  min-height: 100px; }
  .footer-section p {
    color: #fff;
    margin-top: 50px; }

@media only screen and (max-width: 1024px) {
  .top-bar {
    margin-top: 0;
    padding: 0;
    float: none; }
    .top-bar .toggle-topbar.menu-icon a {
      color: #222; }
      .top-bar .toggle-topbar.menu-icon a:after {
        box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px #222; }
    .top-bar ul.title-area img {
      margin: -2px 0 0;
      width: 120px; }
    .top-bar .top-bar-section ul {
      background: #333; }
      .top-bar .top-bar-section ul li {
        margin-left: 0; }
      .top-bar .top-bar-section ul li > a {
        background: #ef4523;
        border-radius: 0;
        font-size: 0.9rem; }
      .top-bar .top-bar-section ul li:not(.has-form) a:not(.button) {
        background: none;
        color: #fff;
        padding: 10px 15px;
        margin-top: 0; }
        .top-bar .top-bar-section ul li:not(.has-form) a:not(.button):hover {
          background: #ef4523;
          color: #fff;
          margin-top: 0; }
      .top-bar .top-bar-section ul li.active:not(.has-form) a:not(.button) {
        background: #ef4523;
        color: #fff;
        padding: 10px 15px;
        margin-top: 0; }
        .top-bar .top-bar-section ul li.active:not(.has-form) a:not(.button):hover {
          background: #f1593b;
          margin-top: 0; }

  .top-bar.padding-on-my-header ul.title-area img {
    margin: 5px 13px 0;
    width: 35px; }

  .top-bar.expanded {
    margin-top: 0;
    padding: 0;
    float: none; }
    .top-bar.expanded .toggle-topbar.menu-icon a {
      color: #fff; }
      .top-bar.expanded .toggle-topbar.menu-icon a:after {
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff; }

  .header-fill {
    height: 40px; } }
